<div class="container">
  <h1>Secret Santa Game</h1>
  <button mat-raised-button color="primary" (click)="selectRandomParticipant()">Select Random Participant</button>

  <div *ngIf="selectedParticipant" class="participant-card">
    <h2>Selected Participant: {{ selectedParticipant.name }}</h2>
    <img [src]="getImage(selectedParticipant.id)" alt="{{ selectedParticipant.name }}" />

    <div *ngIf="!isRevealed">
      <p>Guess the Santa:</p>
      <input matInput placeholder="Enter Santa's name" [(ngModel)]="guessedSanta" />
      <button mat-raised-button color="accent" (click)="revealSanta()">Reveal Santa</button>
    </div>

    <div *ngIf="isRevealed">
      <h3>Your Santa: {{ selectedParticipant.santa }}</h3>
      <img [src]="getImage(selectedParticipant)" alt="Santa's Image" />
    </div>
  </div>
</div>
